.margem {
    background-color:#0065B3;
    font-size: 20px;
    text-align: center;
    
}

.imagem {
    
    width: 1000px;
}

.icone {

    width: 55px;
}

.divc {
     display: flex;
    justify-content: center;
}

.biografia2 {
    display: flex;
   justify-content: center;
   font-size: 35px;
}

p { 
    color: black;
}

.displayed {
display: flex;
justify-content: center;
width: 100%;

}
.img {
    width: 100%;
}